[init]
	defaultBranch = main
[user]
	name = NAME
	email = EMAIL
	signingkey = KEY_HERE
[pull]
	rebase = false
	ff = only
[commit]
# set to enable to sign by default
	gpgsign = false
[core]
	editor = nano
[gpg]
	program = /usr/bin/gpg
